@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.calendar-paged-body {
  font-family: "Poppins", sans-serif;
}
.calendar-paged-body {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 40px;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
}
@media screen and (max-width: 991px) {
  .calendar-paged-body {
    display: flex;
    flex-direction: column-reverse;
  }
}

.container-events {
  overflow: scroll;
}

.rc-h-48 {
  height: 8rem;
}
.rc-max-h-36 {
  max-height: 5.5rem;
}

.rc-text-sm {
  font-size: 0.7rem;
  line-height: 1rem;
}
.rc-flex {
  align-items: center;
}
.rc-cursor-pointer {
  padding: 1rem;
  border: none;
  width: 8rem;
  margin: 0.3rem;
  border-radius: 15px;
  box-shadow: 0 0 8px #50a7a9;
}

[title="Current Month"] {
  margin: 0;
  padding-block: 1rem;
}
.add-event {
  background: #50a7a9;
  color: white;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 15px;
  transition: all 0.2s;
}
.add-event:hover {
  box-shadow: 0 0 10px #50a7a9;
}
dialog {
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background-color: rgba(65, 65, 65, 0.637);
}

dialog h1 {
  font-size: 2rem;
}

input,
textarea {
  border: 1px solid black;
  display: block;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
}
label {
  display: block;
}
.date-time-selector {
  display: block;
}

.button-section {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  justify-content: space-evenly;
}
.input-group {
  margin: 1rem auto;
  flex-direction: column;
}
input[type="date"],
input[type="time"] {
  width: 50%;
  display: inline;
}

.upcoming-event-title {
  font-size: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid black;
}

.date-time {
  color: grey;
  font-size: 0.8rem;
}
.event {
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  transition: all 0.2s;
}
.event:hover {
  background-color: rgb(235, 235, 235);
}
.event:not(:last-child) {
  border-bottom: 1px solid rgb(219, 219, 219);
}
.remove-event {
  padding: 0.4rem;
  border: none;
}
.color-block {
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}
.radio-group {
  display: flex;
  width: 20%;
  justify-content: start;
  margin: 1rem;
  gap: 1rem;
  margin-left: 0;
}
input[type="radio"],
input[type="checkbox"] {
  width: 1rem;
}

.event-submit-button {
  background-color: #50a7a9;
  padding: 1rem 3vw;
  border-radius: 15px;
  color: white;
  transition: all 0.2s;
}
.event-cancel-button {
  outline: solid 2px #50a7a9;
  padding: 1rem 3vw;
  border-radius: 15px;
  color: #50a7a9;
  transition: all 0.2s;
}
.event-submit-button:hover,
.event-cancel-button:hover {
  box-shadow: 0 0 10px #50a7a9;
}
.no-event-header {
  font-size: 1.3rem;
  padding: 1rem;
}
