.calendar-paged-body {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  margin: 2rem;
}

.container-events {
  width: 70%;
  height: 100vh;
  overflow: scroll;
}

.rc-h-48 {
  height: 8rem;
}
.rc-max-h-36 {
  max-height: 5.5rem;
}

.rc-text-sm {
  font-size: 0.7rem;
  line-height: 1rem;
}
.rc-flex {
  align-items: center;
}
.rc-cursor-pointer {
  padding: 1rem;
  /* background-color: lightblue; */
  border: none;
  width: 8rem;
  margin: 0.3rem;
  box-shadow: 0 0 8px rgb(192, 192, 192);
}

[title="Current Month"] {
  margin: 0;
  padding-block: 1rem;
}
.add-event {
  background: rgb(56, 56, 106);
  color: white;
  padding: 1rem;
  margin: 0 auto;
}
dialog {
  padding: 2rem 3rem;
  border-radius: 10px;
  width: 50%;
}
dialog::backdrop {
  background-color: rgba(65, 65, 65, 0.637);
}

dialog h1 {
  font-size: 2rem;
}

input,
textarea {
  border: 1px solid black;
  display: block;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
}
label {
  display: block;
}
button {
  display: block;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}
.button-section {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  justify-content: space-evenly;
}
.input-group {
  margin: 1rem auto;
}
input[type="date"],
input[type="time"] {
  width: 50%;
  display: inline;
}

.upcoming-event-title {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.date-time {
  color: grey;
  font-size: 0.8rem;
}
.event {
  padding: 0.8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.event:not(:last-child) {
  border-bottom: 1px solid rgb(219, 219, 219);
}
.remove-event {
  padding: 0.4rem;
  border: none;
}
